*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, iframe, video{
    max-width: 100%;
    height: auto;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Monoton';
    background: linear-gradient(white, #E88243);
    margin : 0;
}

nav{
    padding : 50px;
    background: linear-gradient(to right, #E88243, #A565C7);
    display: flex;
    justify-content: space-between; 
    align-items: center;   
}
nav a{
    background: lightblue;
    padding: 15px;;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    float: right;
    margin: 10px;
}

main{
    padding : 50px;
}

div article img, div article iframe{
    width: 100%;
    max-width: 600px; 
    height: 600px;  
}

div img{
    width: 100%;
    max-width: 300px; 
    height: 300px; 
    padding: 10px;
}

div {
    display : flex;
    align-items: center;
}

.visuel, .code{
    flex: 1;
}

section{
    margin: 0 0 150px 0;
}

section img{
    display: block;
    margin: 0 0 10px 0;
}

p{
  margin: 15px 0 100px 0;  
}

