html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Monoton';
}

nav{
    padding : 50px;
    background: linear-gradient(to right, #E88243, #A565C7);
    display: flex;
    justify-content: space-between; 
    align-items: center;   
}
nav a{
    background: lightblue;
    padding: 15px;;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    float: right;
    margin: 10px;
}

main{
    padding : 50px;
}



iframe{
    border: 7px inset #436FE8;
}
